{% load i18n %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}

Hello from <strong>{{ site_name }}!,/strong>

<p>
You're receiving this e-mail because you or someone else has requested a password for your user account.
</p>
<p>
It can be safely ignored if you did not request a password reset. Click the link below to reset your password.
</p>
{% endblocktrans %}

{{ password_reset_url }}

{% if username %}{% blocktrans %}In case you forgot, your username is <strong>{{ username }}</strong>.
{% endblocktrans %}

{% endif %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Thank you for using <strong>{{ site_name }}!</strong>
{{ site_domain }}{% endblocktrans %}
